@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(186, 229, 253, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(56 189 248);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(186, 229, 253, 0.5) rgb(8 47 73);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-pattern-wallpaper {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='40' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@keyframes flag-waving {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(-4px);
  }
}

.flag--russia {
  background: linear-gradient(
    to bottom,
    white 0%,
    white 33%,
    #0083d6 33%,
    #0083d6 66%,
    white 66%,
    white 100%
  );
  animation: flag-waving 500ms infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.flag--ukraine {
  background: linear-gradient(
    to bottom,
    rgba(0, 87, 183) 0%,
    rgb(0, 87, 183) 50%,
    rgb(255, 215, 0) 50%,
    rgb(255, 215, 0) 100%
  );
  animation: flag-waving 500ms infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.flag--belarus {
  background: linear-gradient(
    to bottom,
    white 0%,
    white 33%,
    red 33%,
    red 66%,
    white 66%,
    white 100%
  );
  animation: flag-waving 500ms infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

/* Default quotation marks for English */
.quotation-marks {
  quotes: '"' '"';
}
.quotation-marks::before {
  content: open-quote;
  opacity: 0.75;
}
.quotation-marks::after {
  content: close-quote;
  opacity: 0.75;
}

/* Quotation marks for German */
.quotation-marks:lang(de) {
  quotes: "„" "“";
}

/* Quotation marks for French */
.quotation-marks:lang(fr) {
  quotes: "«" "»";
}

/* Quotation marks for Russian */
.quotation-marks:lang(ru) {
  quotes: "«" "»";
}

/* Quotation marks for Ukrainian */
.quotation-marks:lang(uk) {
  quotes: "«" "»";
}
