@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.25rem; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-thumb {
  background: rgba(186, 229, 253, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(56 189 248);
}

* {
  scrollbar-width: thin; /* 'auto' or 'thin' */
  scrollbar-color: rgba(186, 229, 253, 0.5) rgb(8 47 73); /* thumb and track color */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
