@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0.25rem; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-thumb {
  background: rgba(186, 229, 253, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(56 189 248);
}

* {
  scrollbar-width: thin; /* 'auto' or 'thin' */
  scrollbar-color: rgba(186, 229, 253, 0.5) rgb(8 47 73); /* thumb and track color */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-pattern-wallpaper {
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='40' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%239C92AC' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* %23bae6fd */
