$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-xxl: 1536px;

.splide {
  transition: 200ms !important;
  &__slide {
    border-radius: 0.25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $bp-md) {
      background-color: rgba(135, 207, 235, 0.4);
      border: solid 8px rgba(135, 207, 235, 0.1);
    }
  }
  &__arrow {
    background-color: skyblue !important;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 1));

    &--next {
      right: 1.25rem !important;
    }

    &--left {
      left: 1.25rem !important;
    }

    &:hover:not(:disabled) {
      svg {
        fill: darkslategrey !important;
      }
    }
  }

  &__pagination__page {
    background-color: skyblue !important;

    &.is-active {
      opacity: 1 !important;
    }
  }
}
